In [1]:
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [3]:
import sys
print(sys.version)

3.7.0 (default, Jul 23 2018, 20:22:55)
[Clang 9.1.0 (clang-902.0.39.2)]

In [6]:
df = pd.DataFrame({"hello":[0]*6+[1], "goodbye":list(range(7))})

In [9]:
df.head()

   hello  goodbye
0      0        0
1      0        1
2      0        2
3      0        3
4      0        4